# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\wikto\Desktop\Foldery\UG uczelniane\UG przedmioty rok 2\Testowanie Automatyczne\Testowanie_Automatyczne_Projekt2\projekt2-wiktormorawski\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
